.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* progress bar styles */
#progressBarContainer {
  position: fixed;
  z-index: 10;
  background: rgba(255,255,255,0.05);
  width: 100%;
  top: 0;
  left: 0;
}


#progressBar {
  background: linear-gradient(to left, red, violet);
  transform-origin: top left;
  transform: scale(0,0);
  opacity: 0;
}

#progressBarContainer,
#progressBar {
  height: 10px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
  .imgparallaxcontent {
    display: none !important;
  }
  .infoboxcontainer {
    width:90% !important;
		float:none !important;
  }
  .contentcontainer {
    padding: 0 !important;
  }
  .maincontainer{
    display: inline-block !important;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
  .imgparallaxcontent {
    /* display: none !important; */
  }
  .infoboxcontainer {
    /* width:90% !important;
		float:none !important; */
  }
  .contentcontainer {
    /* padding: 0 !important; */
  }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
  .imgparallaxcontent {
    /* display: none !important; */
  }
  .infoboxcontainer {
    width:90% !important;
		float:none !important;
  }
  .contentcontainer {
    padding: 0 !important;
  }
  .maincontainer{
    display: inline-block !important;
  }
}
