# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

portfolio-f4982-firebase-adminsdk-pf8t8-66fd4a7f18.json